<h1>Input & Output</h1>

<p>Managing state - whether it is the global state of an entire page (such as information about the currently
  logged in user) or the state of a single component (such as the amount of a particular item in a user's
  ecommerce shopping cart) is consistently one of the most difficult aspects of front-end development. Now that we have
  separated the functionality of our site across many components, we have to re-engineer how data can flow between
  components. We will refer to the relationship of a component rendering another component in its HTML template
  as parent and child components. Check out the 'parent' and 'child' components to see how data can be passed between
  them.</p>

  <app-parent></app-parent>

<h2>Global state</h2>

<p>There are several approaches to global state storage, but we will be focusing on the simplest method:
simply put some variable in a singleton Object that is shared across the whole app. We will do this with Services
in a future lab.</p>

<div>

  <a href = "https://angular.io/api/core/Input">https://angular.io/api/core/Input</a>
  
</div>